{% extends 'layout.html' %}

{% import 'macros.html' as macros %}

{% block content %}

{% if tree %}
    <section class="tree_list">
      <h3>Current tree</h3>
      <ul>
        {% for entry in tree %}
        <li class="{% if entry.filemode == 16384 %}folder{% else %}file{% endif %}">
            <a href="#">
                {{ entry.name }}
                <span class="filehex" >{{ entry.hex|short }}</span>
            </a>
        </li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}
{% endblock %}
