/*
 * Generic
 */


.flashmessage > div {
    text-align: center;
}
.flashmessage .alert {
    display: inline-block;
}
.flashmessage.dismissible {
    position: absolute;
    left: 50%;
}
.flashmessage.dismissible .alert-dismissible {
    position: relative;
    left: -50%;
    z-index: 5;
}


/*
 * New package form
 */

form div.submit {
    margin-top: 1.5em;
}


/*
 * Package page
 */
#watch-toggle {
    margin-left: 2em;
}
.package-status .btn {
    margin-left: 1em;
}
.package-attributes {
    margin-top: 2em;
}
