/*
 * Generic
 */


.flashmessage > div {
    text-align: center;
}
.flashmessage .alert {
    display: inline-block;
}
.flashmessage.dismissible {
    position: absolute;
    left: 50%;
}
.flashmessage.dismissible .alert-dismissible {
    position: relative;
    left: -50%;
    z-index: 5;
}


form div.submit {
    margin-top: 1.5em;
}
